.property-page {
  margin: 0 auto;
  padding-top: 20px;
  background-image: url('https://asset.mansionglobal.com/editorial/Shenzhens-Tech-Boom-How-the-Sector-is-Transforming-the-Chinese-Citys-Real-Estate-Market/assets/bY4312oZO5/shenzen2-1722x1098.jpeg');
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.property-page .search-container {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  background-color: #fd9648;
  opacity: 80%;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}

.search-container input,
.search-container select {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #ddd;
  opacity: 80%;
}

.reset-button {
  background-color: #ff4c4c; 
  color: #fff; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.reset-button:hover {
  background-color: #ff6666; 
}


.search-container input[type="number"] {
  width: 100px; 
}


.properties-list {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; 
  margin: 0 auto;
}

.property-card {
  flex: 0 0 48%;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.property-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-header {
  background-color: #fd9648;
  color: #fff;
  padding: 10px;
}

.property-content {
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination a {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fd9648;
  color: wheat;
}

.pagination .active a {
  background-color: #ff6666;
  color: white;
}

.pagination a:hover {
  background-color: #ff6666;
  color: white;
}